<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.ircapp"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <application 
    	android:icon="@drawable/icon"
    	android:label="ircapp" android:debuggable="true">
		<activity 
			android:name=".activity.ListServersActivity" 
			android:label="@string/listservers"
			android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        	android:name=".activity.AddChannelActivity"
        	android:label="@string/addchannel">
        </activity>
        <activity
        	android:name=".activity.AddServerActivity"
        	android:label="@string/addserver">
        </activity>
        <activity
        	android:name=".activity.ListChannelsActivity"
        	android:label="@string/listchannels">
        </activity>
        <activity
        	android:name=".activity.ChatActivity"
        	android:label="@string/chatlabel">
       	</activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>